<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <title>Profile Scrape Home</title>

   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
         integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
         crossorigin="anonymous">
</head>

<body>

<div class="jumbotron">
   <h1 class="display-4">Profile Scrape!</h1>
   <p class="lead">This is a simple app for scraping a dating site.</p>
   <hr class="my-4">
   <a href="profiles"><button class="btn btn-primary">Search profiles</button></a>
</div>

</body>
</html>