<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <title>View profile</title>

   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
         integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
         crossorigin="anonymous">

</head>
<body>

<div class="container">

   {% for ph in profile.photo_urls_list %}
   <img src="{{ph}}">
   {% endfor %}

   <div class="row">
      <div class="col">
         <div class="row">
            <a href="{{profile.url}}">Original Profile</a>
         </div>

         <table class="table">
            <tr>
               <th>Gender</th>
               <td>{{profile.gender.name}}</td>
            </tr>
            <tr>
               <th>Country</th>
               <td>{{profile.country}}</td>
            </tr>

            <tr>
               <th>City</th>
               <td>{{profile.city}}</td>
            </tr>

            <tr>
               <th>State</th>
               <td>{{profile.state}}</td>
            </tr>

            <tr>
               <th>Age</th>
               <td>{{profile.age}}</td>
            </tr>
            <tr>
               <th>Height</th>
               <td>{{profile.height_cm}} cm</td>
            </tr>

            <tr>
               <th>Looking for</th>
               <td>{{profile.looking_for.name}}</td>
            </tr>

            <tr>
               <th>Church attendance</th>
               <td>{{profile.church_attendance.name}}</td>
            </tr>

            <tr>
               <th>Body type</th>
               <td>{{profile.body_type.name}}</td>
            </tr>

            <tr>
               <th>Eye color</th>
               <td>{{profile.eye_color.name}}</td>
            </tr>

            <tr>
               <th>Hair color</th>
               <td>{{profile.hair_color.name}}</td>
            </tr>

            <tr>
               <th>Ethnicity</th>
               <td>{{profile.ethnicity.name}}</td>
            </tr>

            <tr>
               <th>Denomination</th>
               <td>{{profile.denomination.name}}</td>
            </tr>

            <tr>
               <th>Church name</th>
               <td>{{profile.church_name}}</td>
            </tr>

            <tr>
               <th>Church raised in</th>
               <td>{{profile.church_raised_in}}</td>
            </tr>

            <tr>
               <th>Drink</th>
               <td>{{profile.drink.name}}</td>
            </tr>

            <tr>
               <th>Smoke</th>
               <td>{{profile.smoke.name}}</td>
            </tr>

            <tr>
               <th>Willing to relocate</th>
               <td>{{profile.willing_to_relocate.name}}</td>
            </tr>

            <tr>
               <th>Marital status</th>
               <td>{{profile.marital_status.name}}</td>
            </tr>

            <tr>
               <th>Have children</th>
               <td>{{profile.have_children.name}}</td>
            </tr>

            <tr>
               <th>Want children</th>
               <td>{{profile.want_children.name}}</td>
            </tr>
            <tr>
               <th>Education level</th>
               <td>{{profile.education_level.name}}</td>
            </tr>

            <tr>
               <th>Profession</th>
               <td>{{profile.profession}}</td>
            </tr>
         </table>


         <h2>Interests</h2>
         <p>{{profile.interests}}</p>

         <h2>About me</h2>
         <p>{{profile.about_me}}</p>

         <h2>First date</h2>
         <p>{{profile.first_date}}</p>

         <h2>Account settings criteria</h2>
         <p>{{profile.account_settings_criteria}}</p>

      </div>
   </div>
</div>

</body>
</html>